@import "tailwindcss/base";

@import "tailwindcss/components";
@import "./components";

@import "tailwindcss/utilities";

a {
  @apply inline-block focus:outline-none focus:ring focus:ring-gray-600 focus:ring-opacity-50;
}

.border-t-gray-300 {
  border-top-color: rgba(209,213,219,var(--tw-border-opacity));
}

.window-drag {
  -webkit-app-region: drag
}

.body-rows {
  grid-template-rows: 1fr 2rem;
}

.min-content-mac {
  min-height: calc(100vh - 3.75rem);
}

.min-content {
  min-height: calc(100vh - 2rem);
}